#container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
/* 
.block {
    outline: 1px solid black;
} */

.hovered {
    background: rgb(0, 0, 0, 0.5);
}
/* 
.colored {
    background: red;
} */